
<html>
<head>
    <title>Login</title>
</head>
<body>

<h1>Login</h1>

<form action="/do-login" method="POST">
    <p><input name="username"></p>
    <p><input type="password" name="password"/></p>
    <p><input type="submit" value="Login"/></p>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>

</body>
</html>
