<html>
<head>
<title>Secure</title>
</head>
<body>
	<h1>Secure page</h1>
	<form action="/logout" method="POST">
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
		<input type="submit" value="logout"	/>
	</form>
</body>
</html>
